# Node modules
node_modules/

# Build output
frontend/dist/
frontend/wailsjs/go/main/App.js
frontend/wailsjs/go/main/App.d.ts

# Wails specific files
*.exe
*.manifest
*.nsi

# Go module files
go.mod
go.sum

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
# Flutter/Dart/Pub related
**/pubspec.lock
.dart_tool/
.packages
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.podspec.lock
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
android/.gradle/
android/app/debug/
android/app/release/
android/local.properties
android/.idea/
android/app/build/
.idea/
*.iml
*.ipr
*.iws

# VS Code settings
.vscode/
