/* src/index.css or src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family:monument extended;
    font-style:normal;
    font-weight:400;
    src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff) format('woff')}@font-face{font-family:monument extended;font-style:normal;font-weight:800;src:local('Monument Extended'),url(https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff) format('woff')
    }
#dashboardvect{
    position: absolute;
    left: 12.64%;
    right: 85.55%;
    top: 27.79%;
    bottom: 70.11%;

    background: #FFFFFF;

}